.App {
  width: 100%;
  text-align: center;
}

header {
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: lightblue;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.error {
  border: 2px solid red;
}

.colorSpace {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 3rem;
}

.colors {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 2rem 2rem 2rem;
  gap: 2rem;
}

.box {
  width: 15rem;
  height: 15rem;
  border-radius: 15px;
  cursor: pointer;
  height: 170px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
  rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.color-light {
  color: #fff;
}

.box p {
  font-size: 30px;
}

.alert {
  font-size: 16px !important;
  color: #494444;
}


@media (max-width: 768px) {
  header {
    height: 130px;
    display: grid;
    justify-items: center;
    align-items: baseline;
  }
  h1 {
    font-size: 2.5rem !important;
  }
}

@media (max-width: 480px) {
  /* h1 {
    font-size: 2.2rem !important;
  } */
}